header {
  color: var(--bs-light);
}

.navbar-toggler {
  border: none;
  filter: invert(100%);
  padding: 0;
  margin: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
