<header class="bg-dark shadow text-light">
  <nav class="navbar navbar-expand-lg">
    <div class="container d-flex justify-content-between align-items-center">
      <a draggable="false" class="user-select-none navbar-brand" routerLink="/">
        <h4 class="text-light fw-bold">
          Riders Gallery
        </h4>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ms-auto" >
          <ng-container *ngIf="!isLoggedIn">
            <app-navbtn [icon]="faRightToBracket" [link]="'/auth/login'" [name]="'Einloggen'"></app-navbtn>
            <app-navbtn [icon]="faRightFromBracket" [link]="'/auth/register'" [name]="'Registrieren'"></app-navbtn>
          </ng-container>
          <ng-container *ngIf="isLoggedIn">
            <app-navbtn [icon]="faUsers" [link]="'/users/list'" [name]="'Mitglieder'"></app-navbtn>
            <app-user-dropdown [loggedInUser]="loggedInUser"></app-user-dropdown>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
</header>
