<div class="container">

  <!-- if loading -->
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <!-- if not loading but error -->
  <ng-container *ngIf="!isLoading && error">
    <div class="card bg-dark rounded overflow-hidden shadow text-light">
      <div class="card-body">
        {{error}}
      </div>
    </div>
  </ng-container>

  <!-- if not loading and no error -->
  <ng-container *ngIf="!isLoading && !error">
    <div class="row g-3">

      <div class="col-12">
        <div class="card bg-dark rounded overflow-hidden shadow text-light">
          <div class="card-body">
            <div class="row g-3">
              <div class="col-4 col-sm-3 co-md-2 col-xl-1">
                <div class="overflow-hidden ratio ratio-1x1 rounded">
                  <img draggable="false" src="/assets/pb.jpg" class="object-fit-cover w-100 user-select-none">
                </div>
              </div>
              <div class="col-8 col-sm-9 co-md-10 col-xl-11 d-flex flex-column justify-content-center">
                <h5>{{data.user.username.toUpperCase()}}</h5>
                <p>{{data.user.bio}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-bike-list [userId]="data.user.id"></app-bike-list>

    </div>
  </ng-container>

</div>
