<div>
  <div>
    <h5>Meine Garage</h5>
  </div>
  <div>
    <!-- if loading -->
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

    <!-- if not loading but error -->
    <ng-container *ngIf="!isLoading && error">
      {{error}}
    </ng-container>

    <!-- if not loading and no error -->
    <ng-container *ngIf="!isLoading && !error">
      <div class="py-2 d-flex" *ngFor="let bike of data.bikes">
        <div style="width: 80px;">
          <div class="ratio ratio-1x1 rounded overflow-hidden">
            <img draggable="false" src="/assets/pb.jpg" class="object-fit-cover w-100 user-select-none">
          </div>
        </div>
        <div class="ms-2">
          <h5>{{bike.name}}</h5>
          <p><b>{{bike.make}}</b> {{bike.model}} <i>{{bike.year}}</i></p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
