<div class="col-12 mb-3">
  <div class="card bg-dark rounded overflow-hidden shadow text-light">
    <div class="card-body">
      <h5>Meine Garage</h5>
    </div>
  </div>
</div>

<!-- if loading -->
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<!-- if not loading but error -->
<ng-container *ngIf="!isLoading && error">
  <div class="card bg-dark rounded overflow-hidden shadow text-light">
    <div class="card-body">
      {{error}}
    </div>
  </div>
</ng-container>

<!-- if not loading and no error -->
<ng-container *ngIf="!isLoading && !error">

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-xl-3" *ngFor="let bike of data.bikes">
      <div class="card bg-dark rounded overflow-hidden shadow text-light">
        <div class="card-body p-0">
          <div class="overflow-hidden p-relative">
            <div class="ratio ratio-1x1">
              <img draggable="false" src="/assets/pb.jpg" class="object-fit-cover w-100 user-select-none">
            </div>
            <span class="text-over-img px-2 py-1 user-select-none fw-bold">
              {{bike.fromYear}} - {{bike.toYear ? bike.toYear : 'Heute' }}
            </span>
          </div>

          <div class="p-3">
            <h5>{{bike.name}}</h5>
            <p><b>{{bike.make}}</b> {{bike.model}} <i>{{bike.year}}</i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
