.user-list-item {
  padding: 10px 0;
  border-top: 1px white solid;
}
.user-list-item:hover {
  background-color: var(--bs-black);
  transition-duration: .2s;
}

.user-username {
  font-size: 20px;
}
