<li class="dropdown nav-item">
  <span class="dropdown-toggle text-decoration-none user-select-none nav-link link-light fw-bold cursor-pointer" data-bs-toggle="dropdown" aria-expanded="false">
    <fa-icon class="me-1" [icon]="faUser"></fa-icon><span>Account</span>
  </span>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li class="d-flex flex-column justify-content-start align-items-center py-2 text-uppercase fw-bold">
      <div class="overflow-hidden ratio ratio-1x1 rounded profile-picture-size">
        <img draggable="false" src="/assets/pb.jpg" class="object-fit-cover w-100 user-select-none">
      </div>
      <div class="mt-2 h5">{{loggedInUser?.username}}</div>
    </li>
    <hr class="m-0 py-1">
    <li><a draggable="false" routerLink="/users/settings" class="dropdown-item"><fa-icon class="me-2" [icon]="faGear"></fa-icon>Einstellungen</a></li>
    <li><a draggable="false" routerLink="/users/profile/{{loggedInUser?.id}}" class="dropdown-item"><fa-icon class="me-2" [icon]="faUser"></fa-icon>Profil</a></li>
    <li><a draggable="false" class="dropdown-item cursor-pointer" (click)="logout()"><fa-icon class="me-2" [icon]="faRightFromBracket"></fa-icon>Logout</a></li>
  </ul>
</li>
