<div class="d-flex justify-content-center align-items-center">
  <button [hidden]="!hasLast" (click)="firstPage()" class="btn border-light btn-dark m-2 me-0">
    <fa-icon [icon]="faAnglesLeft"></fa-icon>
  </button>
  <button [hidden]="!hasLast" (click)="pageBack()" class="btn border-light btn-dark m-2">
    <fa-icon [icon]="faAngleLeft"></fa-icon>
  </button>
  <div style="height: 38px; width: 38px" class="user-select-none border rounded border-light bg-dark d-flex justify-content-center align-items-center">
    <app-loading-spinner [small]="true" *ngIf="isLoading"></app-loading-spinner>
    <span *ngIf="!isLoading">{{page}}</span>
  </div>
  <button [hidden]="!hasNext" (click)="pageForward()" class="btn border-light btn-dark m-2">
    <fa-icon [icon]="faAngleRight"></fa-icon>
  </button>
  <button [hidden]="!hasNext" (click)="lastPage()" class="btn border-light btn-dark m-2 ms-0">
    <fa-icon [icon]="faAnglesRight"></fa-icon>
  </button>
</div>
