<div class="container">
  <div class="card bg-dark rounded overflow-hidden shadow text-light mb-3">
    <div class="card-body">
      <h5>Einstellungen</h5>
    </div>
  </div>

  <div class="row g-3">
    <div class="col-12 col-md-3">
      <div class="card bg-dark rounded overflow-hidden shadow text-light">
        <div class="card-body p-0">
          <nav>
            <ul class="tab-nav nav user-select-none fw-bold d-flex flex-column">
              <li class="nav-item">
                <div class="nav-link text-light cursor-pointer" [ngClass]="{'active': tab == 'profile'}" (click)="switchTab('profile')"><fa-icon class="me-1" [icon]="faUser"></fa-icon> Profil</div>
              </li>
              <li class="nav-item">
                <div class="nav-link text-light cursor-pointer" [ngClass]="{'active': tab == 'change-pw'}" (click)="switchTab('change-pw')"><fa-icon class="me-1" [icon]="faLock"></fa-icon> Password ändern</div>
              </li>
              <li class="nav-item">
                <div class="nav-link text-light cursor-pointer" [ngClass]="{'active': tab == 'bikes'}" (click)="switchTab('bikes')"><fa-icon class="me-1" [icon]="faMotorcycle"></fa-icon> Garage</div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-9">
      <div class="card bg-dark rounded overflow-hidden shadow text-light">
        <div class="card-body">

          <div [ngSwitch]="tab">
            <div *ngSwitchCase="'change-pw'">
              <app-reset-pw-form></app-reset-pw-form>
            </div>
            <div *ngSwitchCase="'bikes'">
              <app-manage-bikes-tab></app-manage-bikes-tab>
            </div>
            <div *ngSwitchCase="'profile'">
              <app-manage-profile-tab></app-manage-profile-tab>
            </div>
            <div *ngSwitchDefault>Tab not found!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
