<footer>
  <div class="container my-3 user-select-none">
    <div class="card bg-dark rounded overflow-hidden shadow text-light">
      <div class="card-body d-flex justify-content-between">
        <div>
          &copy;2023 <a draggable="false" target="_blank" class="text-decoration-none link-light" href="https://aarongensetter.ch">Aaron Gensetter</a>
        </div>
        <div>
          <a draggable="false" target="_blank" class="text-decoration-none link-light" href="https://aarongensetter.ch/imprint">Impressum</a>
        </div>
      </div>
    </div>
  </div>
</footer>
