:root {
  --bs-primary-rgb: 63, 106, 208;
  --bs-primary: #3f6ad0;
  --bs-dark: #101112;
  --bs-dark-rgb: 16, 17, 18;
  --bs-body-font-family: 'Source Sans Pro',sans-serif;
}
input:focus,input:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}
body {
  background: #0e2130;
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  overflow-x: hidden;
}
html {
  scroll-padding-top: 60px;
}
.btn-primary {
  background-color: var(--bs-primary);
}
.btn-primary:hover {
  background-color: var(--bs-primary);
  opacity: 0.85;
}
.btn-outline-primary {
  color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.btn-outline-primary:hover {
  background-color: var(--bs-primary);
  opacity: 0.85;
}
.btn-dark {
  background-color: var(--bs-dark);
}
.btn-dark:hover {
  background-color: var(--bs-dark);
  opacity: 0.85;
}

a.link-primary {
  color: var(--bs-primary) !important;
}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none;
}
/* remove ugly bootstrap focus outline/border/shadow*/
input, input:focus, input:active, textarea, textarea:focus, textarea:active, select, select:active {
  outline: none !important;
  box-shadow: none !important;
}
input.bg-secondary::placeholder, textarea.bg-secondary::placeholder {
  color: var(--bs-light) !important;
  opacity: 0.4;
}
.form-control, .form-select{
  background-color: var(--bs-dark) !important;
  border: 0;
  border-bottom: var(--bs-light) 1px solid !important;
  border-radius: 0;
  color: var(--bs-light) !important;
}
.form-control::placeholder, .form-select::placeholder {
  color: var(--bs-light-text-emphasis) !important;
  user-select: none;
}
.hover-primary:hover {
  transition-duration: .2s;
  color: var(--bs-primary) !important;
}
.hover-dark:hover {
  color: var(--bs-dark) !important;
  transition-duration: .2s;
}
.hover-light:hover {
  color: var(--bs-light) !important;
  transition-duration: .2s;
}
.hover-danger:hover {
  color: var(--bs-danger) !important;
  transition-duration: .2s;
}
.text-shadow {
  text-shadow: 2px 5px 10px #000;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  font-weight: bold;
  user-select: none;
  margin: 0;
}
p {
  margin: 0;
}
.badge {
  user-select: none;
}
.card {
  outline: none;
  border: none;
}
label {
  font-weight: bold;
  user-select: none;
}
.btn {
  /*padding-left: 45px !important;
  padding-right: 45px !important;*/
  font-weight: bold;
}
.d-inline-block {
  display: inline-block;
}
.w-85 {
  width: 85%;
}
.cursor-pointer {
  cursor: pointer;
}
.dropdown-menu-dark {
  background-color: var(--bs-dark);
  border: 1px var(--bs-secondary) solid;
}
