.nav-item a.active {
  color: var(--bs-primary) !important;
}
.nav-item a {
  /*overflow: hidden;*/
  padding: 10px;
}
.nav-item a:hover {
  color: var(--bs-primary) !important;
  transition-duration: .2s;
  opacity: 0.85;
}
