<h5 class="mb-3 pb-3 border-bottom border-secondary">Passwort ändern</h5>

<div class="w-100 alert alert-danger" *ngIf="error">
  <span class="fw-bold">Error!</span> {{error}}
</div>
<div class="w-100 alert alert-success" *ngIf="successMessage && !error">
  <span class="fw-bold">Success!</span> {{successMessage}}
</div>

<form  [formGroup]="changePasswordForm" (submit)="onSubmitChangePassword()">
  <div class="mb-2">
    <label class="form-label">Aktuelles Passwort</label>
    <input formControlName="oldPassword" type="password" class="form-control text-light form-control bg-dark" placeholder="Aktuelles password">
  </div>
  <div class="mb-2">
    <label class="form-label">Neues Passwort</label>
    <input formControlName="newPassword" type="password" class="form-control text-light form-control bg-dark" placeholder="Neues Passwort">
  </div>
  <div class="mb-2">
    <label class="form-label">Neues Passwort wiederholen</label>
    <input formControlName="repeatNewPassword" type="password" class="form-control text-light form-control bg-dark" placeholder="Neues Passwort wiederholen">
  </div>
  <div>
    <button type="submit" class="btn btn-primary">
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
      <span *ngIf="!isLoading">Password ändern</span>
    </button>
  </div>
</form>
