<h5 class="mb-3 pb-3 border-bottom border-secondary">Feed</h5>

<app-pagination-info [itemName]="'Posts'" [pagination]="pagination" ></app-pagination-info> <!--TODO: if statement-->

<ul>
  <li class="post py-3 overflow-hidden" *ngFor="let post of [1,2,3,4,5,6,7,8,9]">

    <!--TOP-->
    <div class="post-header d-flex align-items-center pb-xl-3">
        <!--USER PROFILE PICTURE-->
        <div class="overflow-hidden ratio ratio-1x1 rounded profile-picture-size">
          <img draggable="false" src="/assets/pb.jpg" class="object-fit-cover w-100 user-select-none">
        </div>
        <!--USER INFO-->
        <div class="ms-2 text-shadow">
          <div class="fw-bold username">Username</div>
          <small class="ago-text">vor 5 Tagen</small>
        </div>
    </div>

    <!--CENTER LEFT-->
    <div class="post-center-left">
      <!--POST PICTURE-->
      <div class="overflow-hidden ratio ratio-1x1 rounded w-100">
        <img draggable="false" src="/assets/pb.jpg" class="post-image object-fit-cover w-100 user-select-none">
      </div>
    </div>

    <!--CENTER RIGHT-->
    <div class="post-center-right ">
      <!--COMMENTS-->
     comments
    </div>

    <!--BOTTOM-->
    <div class="post-bottom pt-xl-3 d-flex align-items-end">
      <!--BUTTON LINE-->
      <button *ngIf="true" class="btn btn-danger"><fa-icon [icon]="faHeart"></fa-icon></button>
      <button *ngIf="false" class="btn btn-secondary"><fa-icon [icon]="faHeartCrack"></fa-icon></button>
      <button class="ms-2 btn btn-secondary"><fa-icon [icon]="faComment"></fa-icon></button>
    </div>

  </li>
</ul>

<app-pagination-buttons [isLoading]="isReLoading" (pageSwitchEvent)="onPageSwitch($event)" [pagination]="pagination"></app-pagination-buttons> <!--TODO: if statement-->

<!--TODO: Description?????-->
