.profile-picture-size {
  max-height: 50px !important;
  max-width: 50px !important;
}

.ago-text {
  font-size: 12px;
}

.username {
  line-height: 12px !important;
}

.post-header {grid-area: post-header;}
.post-center-left {grid-area: post-center-left;}
.post-center-right {grid-area: post-center-right;}
.post-bottom {grid-area: post-bottom;}

.post-header {
  border-bottom: 1px var(--bs-secondary) solid;
}

.post-bottom {
  border-top: 1px var(--bs-secondary) solid;
}

.post {
  display: grid;
  grid-gap: 1rem;
  grid-template:
  'post-center-left post-header'
  'post-center-left post-center-right'
  'post-center-left post-bottom';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 60% 40%;
  border-bottom: 1px var(--bs-secondary) solid;
}

.post-center-right {
  height: 407px;
  overflow-y: scroll;
}

.post:last-child {
  border: none;
}

@media screen and (max-width: 1400px) {
  .post-center-right {
    height: 326px;
  }
}


@media screen and (max-width: 1200px) {
  .post {
    grid-template:
    'post-header'
    'post-center-left'
    'post-center-right'
    'post-bottom';
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%;
  }

  .post-center-right {
    overflow: inherit;
    height: inherit;
  }

  .post-header {
    border-bottom: none;
  }

  .post-bottom {
    border-top: none;
  }
}
