<h5 class="mb-3 pb-3 border-bottom border-secondary">Profileinstellungen</h5>

<div class="w-100 alert alert-danger" *ngIf="error">
  <span class="fw-bold">Error!</span> {{error}}
</div>

<form  [formGroup]="profileSettingsForm" (submit)="onSubmitProfileSettings()">
  <div class="mb-2">
    <label class="form-label">Username</label>
    <input formControlName="username" type="text" class="form-control text-light form-control bg-dark" placeholder="Username">
  </div>
  <div class="mb-2">
    <label class="form-label">E-Mail</label>
    <input formControlName="email" type="email" class="form-control text-light form-control bg-dark" placeholder="E-Mail">
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-primary">
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
      <span *ngIf="!isLoading">Ändern</span>
    </button>
  </div>
</form>

TODO: profile picture
<!--TODO:-->
